/generator/public/css/icons.css
/generator/public/icons/
/generator/public/fonts/
/generator/dist/
/generator/public/js/*.d.ts
/generator/public/js/*.map
/generator/public/js/icons.js
/node_modules/
/package-lock.json
/temp.zip
/temp/
/.vscode/
