/generator/css/icons.css
/generator/icons/
/generator/fonts/
/generator/dist/
/generator/js/*.d.ts
/generator/js/*.map
/generator/js/icons.js
/node_modules/
/package-lock.json
/temp.zip
/temp/
/.vscode/
